@tailwind base;
@tailwind components;
@tailwind utilities;

.type-animation {
  white-space: nowrap;
  overflow: hidden;
  border-right: 0.15em solid #9a1e1e;
  /* The cursor */
  width: 0;
  animation: typing 3.5s steps(40, end), blink-caret 0.5s step-end infinite;
}

@keyframes typing {
  0% {
    width: 0;
  }

  100% {
    width: 100%;
  }
}

@keyframes blink-caret {
  50% {
    border-color: transparent;
  }
}
